<h1 class="tecnologies">Techologies</h1>

<div class="container-flex">
  <div class="tech">
    <img src="images/nodejs.png" alt="Node j s logo">
  </div>

  <div class="tech">
    <img src="images/sails.png" alt="Sails j s logo">
  </div>

  <div class="tech">
    <img src="images/jQurery.gif" alt="jQurery logo">
  </div>

  <div class="tech">
    <img src="images/HTML5.png" alt="HTML5 logo">
  </div>

  <div class="tech">
    <img src="images/JS6.png" alt="javascript 6 logo">
  </div>

  <div class="tech">
    <img src="images/CSS3.png" alt="CSS3 logo">
  </div>

  <div class="tech">
    <img src="images/skyscanner_2012.png" alt="Skyscanner logo">
  </div>

  <div class="tech">
  <img src="images/sabre.png" alt="Sabre logo">
  </div>

  <div class="tech">
    <img src="images/developers_logo.png" alt="Google Developers logo">
  </div>

  <div class="tech" >
    <img src="images/bluebird.png" alt="Smiley logo">
  </div>

  <div class="tech" >
    <img src="images/oauth.jpg" alt="oauth logo">
  </div>

  <div class="tech" >
    <img src="images/passport.png" alt="passport logo">
  </div>

  <div class="tech" >
    <img src="images/monogo.jpg" alt="Mongo logo">
  </div>

  <div class="tech">
    <img src="images/ec2.png" alt="ec2 logo">
  </div>
</div>
