<!-- Default home page -->
<div id="myCarousel" class="carousel slide" data-ride="carousel">

    <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <img src="https://assets.zoetryresorts.com/crop-1800x720-max/agua/activities/slideshow/70AE02.jpg" alt="Uno" width="1800" height="820">
    </div>

    <div class="item">
      <img src="http://www.garberwirt.com/fileadmin/_processed_/csm_skifahren03_5d6d22f1c5.jpg" alt="Dos" width="1800" height="820">
    </div>

    <div class="item">
      <img src="http://www.tirolerhof-tux.at/fileadmin/_processed_/csm_gletscher-sommer_f23ec7e27d.jpg" alt="Tres" width="1800" height="820">
    </div>

    <div class="item">
      <img src="http://www.scubadiveasia.com/blog/wp-content/uploads/2013/12/BlogSDA-slide2.jpg" alt="Flower" width="1800" height="820">
    </div>
  </div>

<div class="container">
<!-- GEO LOCATION -->
<!-- <p>Click the button to get your coordinates.</p>
<button onclick="getLocation()">Try It</button>
<p id="demo"></p> -->
<%= JSON.stringify(searchresults)%>
</div>
