<!-- Default home page -->
<div id="myCarousel" class="carousel slide" data-ride="carousel">

    <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <img src="https://assets.zoetryresorts.com/crop-1800x720-max/agua/activities/slideshow/70AE02.jpg" alt="Uno" width="1800" height="820">
    </div>

    <div class="item">
      <img src="http://www.garberwirt.com/fileadmin/_processed_/csm_skifahren03_5d6d22f1c5.jpg" alt="Dos" width="1800" height="820">
    </div>

    <div class="item">
      <img src="http://www.tirolerhof-tux.at/fileadmin/_processed_/csm_gletscher-sommer_f23ec7e27d.jpg" alt="Tres" width="1800" height="820">
    </div>

    <div class="item">
      <img src="http://www.scubadiveasia.com/blog/wp-content/uploads/2013/12/BlogSDA-slide2.jpg" alt="Flower" width="1800" height="820">
    </div>


    <div class="mainPitch">

        <a href="/"><img src="images/logo.png"></a>

        <form method="post" action="/destinations" class = "form-inblock">
          <div class="form-group">
            <label for="origin_one">Origin</label>
            <input type="text" name="origin_one" class="form-control air" id="term" placeholder="City name or airport code" />

            <label for="origin_two">Origin</label>
            <input type="text" name="origin_two" class="form-control air" id="term" placeholder="City name or airport code" />

            <label for="from">Departure Date</label>
            <input type="text" id="from" name="from" class="form-control"/>

            <label for="to">Return Date</label>
            <input type="text" id="to" name="to" class="form-control"/>
          </div>

          <button type="submit" class="btn btn-primary">Find Destinations</button>
        </form>
    </div>
  </div>
</div>

<div class="container">
<!-- GEO LOCATION -->
<!-- <p>Click the button to get your coordinates.</p>
<button onclick="getLocation()">Try It</button>
<p id="demo"></p> -->
<%= JSON.stringify(searchresults)%>
</div>
