<!-- Default home page -->
<div id="myCarousel" class="carousel slide" data-ride="carousel">

    <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <img src="https://assets.zoetryresorts.com/crop-1800x720-max/agua/activities/slideshow/70AE02.jpg" alt="Uno" width="1800" height="820">
    </div>

    <div class="item">
      <img src="http://www.garberwirt.com/fileadmin/_processed_/csm_skifahren03_5d6d22f1c5.jpg" alt="Dos" width="1800" height="820">
    </div>

    <div class="item">
      <img src="http://www.tirolerhof-tux.at/fileadmin/_processed_/csm_gletscher-sommer_f23ec7e27d.jpg" alt="Tres" width="1800" height="820">
    </div>

    <div class="item">
      <img src="http://www.scubadiveasia.com/blog/wp-content/uploads/2013/12/BlogSDA-slide2.jpg" alt="Flower" width="1800" height="820">
    </div>


    <div class="mainPitch">
      <div class="container">

        <h1>In The Middle</h1>
        <p>Something chesssy about having a long distance realtionship </p>

        <form method="post" action="/destinations" class = "form-inline">
          <div class="form-group">
            <label for="origin_one">Origin</label>
            <input type="text" name="origin_one" class="form-control air" id="term" placeholder="City name or airport code" />
          </div>

          <div class="form-group">
            <label for="origin_two">Origin</label>
            <input type="text" name="origin_two" class="form-control air" id="term" placeholder="City name or airport code" />
          </div>

          <div class="form-group">
            <label for="departure_date">Departure Date</label>
            <input type="date" name="departure_date" class="form-control"/>
          </div>

          <div class="form-group">
            <label for="return_date">Return Date</label>
            <input type="date" name="return_date" class="form-control"/>
          </div>

          <button type="submit" class="btn btn-primary">Find Destinations</button>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="container">


</div>

<script>
    $(function() {
        $('.air').click(function (e) {
            e.preventDefault();
            initAutoSelect(e);
        });
        function initAutoSelect(e) {
          console.log(e.target);
            apca = new apc('multi', { key: "a9a241f286",limit: 7 });
            var autocompleteObj = {
                source: function( request, response ) {
                    // make the request
                    console.log($(e.target).val());
                    apca.request( $(e.target).val() );

                    apca.onSuccess = function (data) {
                        if (data.status) { // success
                            response( $.map( data.airports, function( item ) {
                                return {
                                    label: item.name + ' (' + item.iata + ')',
                                    value: item.iata,
                                    code: item.iata
                                }
                            }));
                        } else { // no results
                            response();
                        }
                    };
                    apca.onError = function (data) {
                        response();
                        console.log(data.message);
                    };
                },
                select: function( event, ui ) {
                    // do something for click event
                    console.log(ui.item.code);
                }
            }
            $( ".air" ).autocomplete(autocompleteObj);
        }
    });
</script>
