<!DOCTYPE html>
<html>
  <head>
    <title>In the Middle</title>

    <!-- FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Permanent+Marker" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Rock+Salt" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Architects+Daughter" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Abel" rel="stylesheet">
    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">

    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.2/jquery-ui.js"></script>


    <script src="//ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js" type="text/javascript"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js" type="text/javascript"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

      <!-- Optional theme -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

      <!-- Latest compiled and minified JavaScript -->
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <!--STYLES-->
    <link rel="stylesheet" href="/styles/importer.css">
    <!--STYLES END-->

    <!-- CALENDAR -->
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.0/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="/resources/demos/style.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>

  <!-- JQuery Calendar -->
  <script>
  $( function() {
    var dateFormat = "yy/mm/dd",
      froma = $( "#from" )
        .datepicker({
          defaultDate: "+1d",
          changeMonth: false,
          numberOfMonths: 2,
           minDate: 0
        })
        .on( "change", function() {
            getDate( this );
        }),
      to = $( "#to" ).datepicker({
        defaultDate: "+4d",
        changeMonth: false,
        numberOfMonths: 2,
        minDate: 0
      })
      .on( "change", function() {
      });

    function getDate( element ) {
        var nD = new Date(element.value);
        var crazy = nD.setDate(nD.getDate()+15);
        $('#to').datepicker('destroy');
        to = $( "#to" ).datepicker({
            defaultDate: "+4d",
            changeMonth: false,
            numberOfMonths: 2,
            minDate: new Date(element.value),
            maxDate: new Date(crazy)
        });
    }
  } );
  </script>

  </head>

  <body>


  <!-- Airpost outcomplete -->
  <script>
      $(function() {
          $('.air').click(function (e) {
              e.preventDefault();
              initAutoSelect(e);
          });
          function initAutoSelect(e) {
            console.log(e.target);
              apca = new apc('multi', { key: "a9a241f286",limit: 7 });
              var autocompleteObj = {
                  source: function( request, response ) {
                      // make the request
                      console.log($(e.target).val());
                      apca.request( $(e.target).val() );
                      apca.onSuccess = function (data) {
                          if (data.status) { // success
                              response( $.map( data.airports, function( item ) {
                                  return {
                                      label: item.name + ' (' + item.iata + ')',
                                      value: item.iata,
                                      code: item.iata
                                  }
                              }));
                          } else { // no results
                              response();
                          }
                      };
                      apca.onError = function (data) {
                          response();
                          console.log(data.message);
                      };
                  },
                  select: function( event, ui ) {
                      // do something for click event
                  }
              }
              $( ".air" ).autocomplete(autocompleteObj);
          }
      });
  </script>

    <%- body %>
    <footer class="footer">
      <div class="container">
        <a href="https://www.skyscanner.net/">

          <p>
            Powered by
          <img src="images/Skyscanner.png" alt="">
        </p>

        </a>
        </div>
      </div>
    </footer>


    <!--SCRIPTS-->
    <script src="/js/dependencies/sails.io.js"></script>
    <script src="/js/dependencies/air-port-codes-api-min.js"></script>
    <!--SCRIPTS END-->



  </body>
</html>
